.card
{
    display: inline-block;
    width: 120px;
    height: 200px;
    background-color: grey;
    border-radius: 20px; 
    
}
.card:hover
{
    animation: rotated ease-in 1s; 
    transform-style: preserve-3d;
    
}

@keyframes rotated{
    to{
        transform: rotateY(180deg);
    }
}

