.graphbubble{
    display: block;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: chocolate;
}

.overlap{
    position: absolute;
}

.canvas
{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  align-content: center;
  margin: auto;
  background-color: #0e819e;
  padding-bottom: 20px;
  z-index: -100;
  width: 80%;
}
.canvas-graph 
{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  align-content: center;

  margin: auto;
  height: 55px;
  padding-bottom: 20px;
  z-index: -100;
  width: 50%;
}
