.default{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 3%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 35%;
    background-color: #20aed1;
    display: inline-block;
    width: 5%;
    min-width: 120px;
    min-height: 100px;

  }

.default:hover{
    background-color: #ced120;
    border-radius: 25%;
}